{% extends "ajax/soul/shell.html.twig" %}
{% block title %}{{'Die Zukunft'|trans({}, 'game')|raw}}{% endblock %}
{% block menu_text %}
    {{ parent() }}
{% endblock %}
{% block soul_content %}

    {% include "ajax/soul/future_shell.html.twig" with { future_tab: "events" } %}

    <h1 class="page-head">{{ 'Community-Events'|trans({}, 'soul') }}</h1>

    <hordes-event-creator
            data-creator="{{ is_granted('ROLE_ELEVATED')  ? '1' : '0' }}"
            data-reviewer="{{ is_granted('ROLE_ELEVATED') ? '1' : '0' }}"
            data-admin="{{ is_granted('ROLE_CROW') ? '1' : '0' }}"
    ></hordes-event-creator>

    {% if is_granted('ROLE_ANIMAC') or is_granted('ROLE_ORACLE') %}
        <div class="row"><div class="padded cell rw-12">
            {{ help_lnk('Community-Events verwalten'|trans({},'game'), 'help_classified', {'name' : 'event-panel', 'sect': 'animaction' }) }}
        </div></div>

    {% endif %}

    <h1 class="page-head">{{ 'Saisonale Events'|trans({}, 'soul') }}</h1>
    <div class="row">
        <div class="padded cell rw-12">
            <div class="help">
                {{ 'Saisonale Events fügen für eine begrenzte Zeit neue Spielinhalte zu allen Städten hinzu. Diese Events werden zu den angegebenen Zeiten automatisch aktiviert und deaktiviert.'|trans({},'soul') }}
            </div>
        </div>
    </div>

    {% if active_events is not empty %}
        <div class="row">
            <div class="padded cell rw-12">
                <h5>{{ 'Laufende Events'|trans({}, 'soul') }}</h5>
                {% for event in active_events %}
                    <div class="note note-event-{{ event[0] }}">
                        <b>{{ ('event_' ~ event[0] ~ '_title')|trans({year: event[1]|date("Y")}, 'events') }}</b><br />
                        <span class="small">
                            {{ ('event_' ~ event[0] ~ '_description')|trans({}, 'events') }}
                        </span><br />
                        <b class="small">
                            {% if event[2] is not null %}
                                {{ 'Endet in {days} Tagen, am {date}'|trans({days: ('today'|to_date).diff(event[2]).days, date: event[2]|date_modify("-1sec")|format_datetime('long', 'long')}, 'soul') }}
                            {% else %}
                                {{ 'Wird durch einen Administrator beendet.'|trans({}, 'soul') }}
                            {% endif %}
                        </b>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="padded cell rw-12">
            <h5>{{ 'Zukünftige Events'|trans({}, 'soul') }}</h5>
            {% if future_events is empty %}
                <div class="help">
                    {{ 'In der unmittelbaren Zukunft sind keine Events geplant.'|trans({},'soul') }}
                </div>
            {% endif %}
            {% for event in future_events %}
                <div class="note note-event-{{ event.event }}">
                    <b>{{ ('event_' ~ event.event ~ '_title')|trans({year: event.start|date("Y")}, 'events') }}</b><br />
                    <span class="small">
                        {{ ('event_' ~ event.event ~ '_description')|trans({}, 'events') }}
                    </span><br />
                    <b class="small">
                        {{ 'Beginnt in {days} Tagen, am {date}'|trans({days: ('today'|to_date).diff(event.start).days, date: event.start|format_datetime('long', 'long')}, 'soul') }}
                    </b><br />
                    <b class="small">
                        {{ 'Endet nach {days} Tagen, am {date}'|trans({days: event.start.diff(event.end).days, date: event.end|date_modify("-1sec")|format_datetime('long', 'long')}, 'soul') }}
                    </b>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block js %}
    {{parent()}}
{% endblock %}