{% from 'ajax/game/partials/action_macros.html.twig' import select_target_popup, target_macro_renderer %}

{% if scout is not defined %}
    {% set scout = false %}
{% endif %}
{% if hidden is not defined %}
    {% set hidden = false %}
{% endif %}
{% if prefix is not defined %}
    {% set prefix = '' %}
{% else %}
    {% set prefix = 'prefix-' ~ prefix ~ ' prefixed ' %}
{% endif %}
{% if not hidden %}
    {% if (item_action_list is defined and item_action_list|length > 0) or (recipe_list is defined and recipe_list.recipes|length > 0)  %}
        {% if iec is defined and iec %}
            <button x-item-action-toggle="1" class="mb-1" style="{{ open is defined and open ? 'display: none' : '' }}">
                <img src="{{ asset('build/images/item/item_bag.gif') }}" alt="">
                {{ 'Gegenstand verwenden'|trans({},'items')  }}
                {% if scout %}
                    <img class="icon right" alt="" src="{{ asset('build/images/icons/small_stealthy.gif') }}" />
                {% endif %}
            </button>
            <button x-item-action-toggle="0" class="mb-1" style="{{ open is defined and open ? '' : 'display: none' }}">
                <img src="{{ asset('build/images/icons/small_remove.gif') }}" alt="">
                {{'Abbrechen'|trans({}, 'global')  }}
            </button>
        {% endif %}
        <ul class="{{ prefix }}actions" data-open-default="{{ open is defined and open ? '1' : '0' }}">
            {% if (item_action_list is defined) %}
                {% set processed_renderers = [] %}
                {% for entry in item_action_list|sort((a,b) => ( b.item.essential <=> a.item.essential ?: a.item.prototype.label|trans({}, 'items') <=> b.item.prototype.label|trans({}, 'items') ?: a.action.label|trans({},'items') <=> b.action.label|trans({},'items') ?: a.random <=> b.random )) %}

                    {% if entry.renderer is null or entry.renderer not in processed_renderers %}

                        {% if entry.renderer is not null %}
                            {% set processed_renderers = processed_renderers|merge([entry.renderer]) %}
                        {% endif %}

                        {% if entry.renderer is not null %}
                        <li class="action" x-target-definition="{{ entry.id }}--{{ entry.item.id }}">
                        {% else %}
                        <li class="action {% if entry.broken is defined and entry.broken %}broken-item{% endif %}" {% if entry.crossed %}disabled{% elseif entry.broken is defined and entry.broken %}{% elseif entry.targets is null %}x-action-id="{{ entry.id }}" {% if entry.action.confirm %}x-action-confirm="1"{% endif %} x-provoking-id="{{ entry.item.id }}"{% else %}x-target-definition="{{ entry.id }}--{{ entry.item.id }}"{% endif %}>
                        {% endif %}
                            <img src="{{ asset('build/images/item/item_' ~ entry.item.prototype.icon ~ '.gif') }}" alt="{{ entry.item.prototype.label|trans({},'items') }}">
                            {% if scout and entry.action.keepsCover %}
                                <img class="float-right" src="{{ asset('build/images/icons/small_stealthy.gif') }}" alt="">
                            {% endif %}
                            {% if entry.renderer is not null %}
                                <span>
                                    {{ '{action}: {item}'|trans({'{action}': 'Verwenden'|trans({},'items')|e('html'), '{item}': '<b>' ~ entry.item.prototype.label|trans({},'items')|e('html') ~ '</b>'},'items')|raw }}
                                    {% if entry.renderer == 'tamer_dog_popup' %}
                                        ({{ app.user|dogname }})
                                    {% endif %}
                                </span>
                            {% else %}
                                <span>{{ '{action}: {item}'|trans({'{action}': entry.action.label|trans({},'items')|e('html'), '{item}': '<b>' ~ entry.item.prototype.label|trans({},'items')|e('html') ~ '</b>'},'items')|raw }}</span>
                            {% endif %}
                            {% if entry.renderer is not null %}
                                {{ target_macro_renderer( scout, entry.renderer, entry.id ~ '--' ~ entry.item.id, item_action_list|filter(a => a.renderer == entry.renderer) ) }}
                            {% elseif entry.targets is not null and not entry.crossed and not ( entry.broken is defined and entry.broken ) %}
                                {{ select_target_popup( entry.id, entry.target_mode, entry.id ~ '--' ~ entry.item.id, entry.item.id, entry.targets, entry.action.confirm, entry.action.confirmMsg, entry.item) }}
                            {% endif %}

                            {% if entry.renderer is null %}
                                {% if entry.message is defined and entry.message is not null and not (entry.broken is defined and entry.broken) %}
                                    <div class="tooltip normal">{{ entry.message|raw }}</div>
                                {% elseif entry.broken is defined and entry.broken %}
                                    <div class="tooltip normal">{{ 'Dieser Gegenstand ist <strong class="red">kaputt</strong>. Du kannst ihn zur Zeit nicht gebrauchen. Vielleicht findest du in der Stadt eine gütige Seele, der ihn reparieren kann?'|trans({},'items')|raw }}</div>
                                {% elseif not entry.crossed %}
                                    {% embed "ajax/game/item_tooltip.html.twig" with {"item": entry.item} %}{% endembed %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if recipe_list is defined %}
                {% for recipe in recipe_list.recipes %}
                    <li class="action" x-recipe-id="{{ recipe.id }}">
                        {# @var recipe \App\Entity\Recipe #}
                        {% if recipe.result.entries.count == 1 %}
                            {% if recipe.source and not conf.get(constant('App\\Structures\\TownConf::CONF_MODIFIER_PRE_ASSEMBLY'),false) %}
                                <img src="{{ asset('build/images/item/item_' ~ recipe.provoking[0].icon ~ '.gif') }}" alt="{{ recipe.provoking[0].label|trans({},'items') }}">
                                {% if scout and recipe.stealthy %}
                                    <img class="float-right" src="{{ asset('build/images/icons/small_stealthy.gif') }}" alt="">
                                {% endif %}
                                <span>{{ 'Zusammenbauen'|trans({},'game') }}:
                                    {{ recipe.provoking[0].label|trans({}, 'items') }}
                                    {% if not app.user.expert %}
                                    {% for entry in recipe.source.entries %}
                                        {# @var entry \App\Entity\ItemGroupEntry #}
                                        {% for n in 1..entry.chance %}
                                            <img class="{% if n > recipe_list.source_items[entry.prototype.id] %}unavailable{% endif %}" src="{{ asset('build/images/item/item_' ~ entry.prototype.icon ~ '.gif') }}" alt="{{ entry.prototype.label|trans({},'items') }}">
                                        {% endfor %}
                                    {% endfor %}
                                    {% endif %}
                                </span>
                            {% else %}
                                <img src="{{ asset('build/images/item/item_' ~ recipe.result.entries[0].prototype.icon ~ '.gif') }}" alt="{{ recipe.result.entries[0].prototype.label|trans({},'items') }}">
                                {% if scout and recipe.stealthy %}
                                    <img class="float-right" src="{{ asset('build/images/icons/small_stealthy.gif') }}" alt="">
                                {% endif %}
                                <span>{{ 'Herstellen'|trans({},'game') }}: <b>{{ recipe.result.entries[0].prototype.label|trans({},'items') }}</b></span>
                                {% if recipe.source %}
                                    <span>
                                    {{ 'aus'|trans({},'game') }}:
                                    {% for entry in recipe.source.entries %}
                                        {# @var entry \App\Entity\ItemGroupEntry #}
                                        {% for n in 1..entry.chance %}
                                            <img class="{% if n > recipe_list.source_items[entry.prototype.id] %}unavailable{% endif %}" src="{{ asset('build/images/item/item_' ~ entry.prototype.icon ~ '.gif') }}" alt="{{ entry.prototype.label|trans({},'items') }}">
                                        {% endfor %}
                                    {% endfor %}
                                </span>
                                {% endif %}
                            {% endif %}

                        {% else %}
                            {% if recipe.source %}
                                {% if scout and not recipe.stealthy %}
                                    <img class="float-right" src="{{ asset('build/images/icons/uncloak.gif') }}" alt="">
                                {% endif %}
                                <span>
                                    {{ 'Kombinieren'|trans({},'game') }}:
                                    {% for entry in recipe.source.entries %}
                                        {# @var entry \App\Entity\ItemGroupEntry #}
                                        {% for n in 1..entry.chance %}
                                            <img class="{% if n > recipe_list.source_items[entry.prototype.id] %}unavailable{% endif %}" src="{{ asset('build/images/item/item_' ~ entry.prototype.icon ~ '.gif') }}" alt="{{ entry.prototype.label|trans({},'items') }}">
                                        {% endfor %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}

    {% if item_action_list is not defined and recipe_list is not defined and item_action_proxy is defined %}
        <button x-item-action-toggle="1" x-load-from="{{ item_action_proxy }}" class="mb-1">
            <img src="{{ asset('build/images/item/item_bag.gif') }}" alt="">
            {{ 'Gegenstand verwenden'|trans({},'items')  }}
            {% if scout %}
                <img class="icon right" alt="" src="{{ asset('build/images/icons/small_stealthy.gif') }}" />
            {% endif %}
        </button>
        <button x-item-action-toggle="0" class="mb-1" style="display:none;">
            <img src="{{ asset('build/images/icons/small_remove.gif') }}" alt="">
            {{'Abbrechen'|trans({}, 'global')  }}
        </button>
        <ul class="{{ prefix }}actions">
            <li><div class="loading"></div></li>
        </ul>
    {% endif %}

    {% if special_action_list is defined and special_action_list|length > 0 %}
        <ul class="{{ prefix }}special_actions">
            {% for entry in special_action_list %}
                <li class="heroic_action" {% if entry.crossed %}disabled{% elseif entry.targets is null %}x-action-id="{{ entry.id }}" {% if entry.action.confirm %}x-action-confirm="1"{% endif %} {% else %}x-target-definition="{{ entry.id }}--special"{% endif %}>
                    <img src="{{ asset('build/images/actions/' ~ entry.icon ~ '.gif') }}" alt="">
                    <span>
                        <b>
                            {{ entry.action.label|trans({},'items') }}
                            {% if entry.action.results|length > 0 %}
                                {% set ap = 0 %}{% set pm = 0 %}{% set cp = 0 %}
                                {% for result in (entry.action.results|filter(result => result.atoms is not null)|map(result => result.atoms|atomize('\\MyHordes\\Fixtures\\DTO\\Actions\\EffectsDataContainer'))) %}
                                    {% for effect in result.findEffects( '\\MyHordes\\Fixtures\\DTO\\Actions\\Atoms\\Effect\\StatusEffect' ) %}
                                        {% set ap = ap + effect.apCost %}
                                        {% set pm = pm + effect.mpCost %}
                                        {% set cp = cp + effect.cpCost %}
                                    {% endfor %}
                                {% endfor %}
                                {% if ap < 0 %}
                                    (<div class="ap">{{ap*(-1)}}</div>)
                                {% endif %}
                                {% if pm < 0 %}
                                    (<div class="pm">{{pm*(-1)}}</div>{% if entry.action.name == 'brew_shamanic_potion' %}+<img alt="" src="{{ asset('build/images/item/item_water.gif') }}">{% endif %})
                                {% endif %}
                                {% if cp < 0 %}
                                    (<div class="cp">{{cp*(-1)}}</div>)
                                {% endif %}
                            {% endif %}
                        </b>
                    </span>
                    {% if entry.targets is not null and not entry.crossed %}
                        {{ select_target_popup( entry.id, entry.target_mode, entry.id ~ '--special', null, entry.targets, entry.action.confirm, entry.action.confirmMsg) }}
                    {% endif %}
                    {% if not entry.action.tooltip is null %}
                        <div class="tooltip help">{{ entry.action.tooltip|trans(t, 'items')|raw }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if heroic_action_list is defined and heroic_action_list|length > 0 %}
        <button x-heroic-toggle="1" class="mb-1"><img src="{{ asset('build/images/icons/star.gif') }}" alt="">
            {{ 'Heldentaten'|trans({},'items') }}
            {# {% if scout %}
                <img class="icon right" alt="" src="{{ asset('build/images/icons/small_stealthy.gif') }}" />
            {% endif %} #}
        </button>
        <ul class="{{ prefix }}heroic_actions">
            <li class="heroic_action help">
                <img src="{{ asset('build/images/icons/star.gif') }}" alt="">
                <span>{{'Du kannst <strong>pro Tag eine Heldentat</strong> vollbringen und jede dieser Aktionen kann nur <strong>einmal</strong> pro Partie ausgeführt werden:'|trans({}, 'game')|raw}}</span>
            </li>
            {% for entry in heroic_action_list %}
                {% set tickIcon =  (entry.used is defined and entry.used) ? "tickOn.gif": "tickOff.gif" %}
                <li     {{ { 'heroic_action': true, 'already': entry.used is defined and entry.used }|classes }}
                        {% if entry.crossed %}disabled{% elseif entry.targets is null %}x-action-id="{{ entry.id }}" x-action-confirm="1" {% else %}x-target-definition="{{ entry.id }}--hero"{% endif %}
                        {% if entry.used is defined and entry.used %}data-used-message="{{ entry.used_message|trans({},'items') }}"{% endif %}
                >
                    <img src="{{ asset('build/images/icons/' ~ tickIcon) }}" alt="">
                    <span class="label"><b>{{ entry.action.label|trans({},'items') }}</b></span>
                    {% if entry.targets is not null and not entry.crossed %}
                        {{ select_target_popup( entry.id, entry.target_mode, entry.id ~ '--hero', null, entry.targets, entry.action.confirm, entry.action.confirmMsg) }}
                    {% endif %}
                    {% if entry.used is defined and entry.used %}
                        <div class="tooltip normal">{{ 'Diese Aktion wurde in dieser Partie schon ausgeführt.'|trans({}, 'items') }}</div>
                    {% endif %}
                    {% if not entry.action.tooltip is null %}
                        <em class="em" style="font-variant: none;">{{ entry.action.tooltip|trans(t, 'items')|decodeMessage(app.user)|raw }}</em>
                    {% endif %}
                </li>
            {% endfor %}
            <li><div class="button" x-heroic-toggle="0">{{ 'Schließen'|trans({},'global') }}</div></li>
        </ul>

    {% endif %}
{% elseif (hidden_warning is not defined or hidden_warning) %}
    <ul class="{{ prefix }}actions">
        <li class="no-interaction">{{ 'Du kannst keine Aktionen ausführen, während du dich versteckst.'|trans({},'game')  }}</li>
    </ul>
{% endif %}